/.vscode
/Debug
/_tmp_rar

# VC6 generated metadata
*.aps
*.clw
*.ncb
*.opt
*.plg

# VC6/MSVC build outputs
*.obj
*.pch
*.idb
*.pdb
*.ilk
*.exe
*.res
*.sbr
*.bsc

# Keep source resource scripts (*.rc) tracked.
